.ChannelName {
  box-sizing: border-box;
  font-size: 1.6em;
  padding: 5px 5px;
  text-shadow: 2px 2px 1px rgba(#000, 0.2), -2px 2px 1px rgba(#000, 0.2),
    2px -2px 1px rgba(#000, 0.2), -2px -2px 1px rgba(#000, 0.2);
}
