.ChatViewer {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  height: 100vh;
  &_Header {
    grid-column: 1;
    grid-row: 1;
  }
  &_ChannelList {
    position: absolute;
    top: 0;
  }
  &_Chat {
    grid-column: 1;
    grid-row: 2;
    overflow: scroll;
  }
  &_Chat::-webkit-scrollbar {
    width: 0;
    background: rgba(0, 0, 0, 0);
  }
}
