.ChatMessagesTreeNode {
  // v8のバグ対策
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  &_Thread {
    padding-left: 4em;
  }
  &_ThreadMessage {
    font-size: 0.8em;
    &:before {
      content: '';
      display: block;
      width: 5px;
      border-radius: 2px;
      background-color: #50e3c2;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
